.filterItem {
    min-width: 100px;
    width: auto;
    height: auto;
    transition: transform 0.3s ease-in-out;

    img {
        width: 130px;
        height: 130px;
    }
}
.titlee {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}



.filterItem:hover {
    transform: scale(1.02);
}

@media (max-width: 391px) {
    .filterItem {
        width: 140px;
        height: 151px;
    }

    .filterItem img {
        width: 140px;
        height: 120px;
    }
}